<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.todoapp.StatisticActivity"
            android:exported="false"
            android:label="@string/title_activity_statistic"
            android:theme="@style/Theme.ToDoApp.NoActionBar" />

        <activity
            android:name="com.example.todoapp.FavouriteNotesActivity"
            android:exported="false"
            android:label="FavouriteNotesActivity"
            android:theme="@style/Theme.ToDoApp.NoActionBar" />
    </application>
</manifest>